@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --primary-color: #FF0048;
    --secondary-color: #747373;
    --tertairy-color: #F7F5F5;
    --quaternary-color: #FFFFFF;

    --videoBar-color: #5394A7;
    --footer-color: #FABC43;
}

* {
    margin: 0;
    padding: 0;
}

.background {
    width: 600px;
    height: auto;
    margin: 0px auto 0px auto;
    padding-bottom: 10px;
    background-color: var(--tertairy-color);
}

h1 {
    color: var(--primary-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: var(--secondary-color);
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

button {
    width: 129px;
    height: 17px;
    border: none;
    border-radius: 4px;
    background: var(--quaternary-color);
    cursor: pointer;
    padding: 2px 0 3px 0;
}

button p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer p {
    color: var(--quaternary-color);
    font-size: 9px;
    font-weight: 500;
    line-height: 15px;
}

.highlight {
    background: var(--primary-color);
}

.highlight p {
    color: var(--tertairy-color);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 11px 16px 0 16px;
}

.header {
    margin-top: 20px;
    height: 130px;
}

.header img {
    float: right;
    margin-right: 16px;
}

.heading p {
    margin-top: 7px;
}

.header .text {
    margin: 0 29px 0 16px;
    width: 302px;
    float: left
}

.widgets {
    display: flex;
    justify-content: space-between;
    margin: 42px 16px 33px 16px;
}

.widget {
    background: var(--quaternary-color);
    margin: 0 0 0 0;
    width: 275px;
    height: 302px;
}

.widget img {
    margin: 14px 11px 11px 11px;
}

.widget h1 {
    margin: 0 0 5px 11px;
}

.widget p {
    margin: 0 11px 11px 14px;
}

.widget button {
    margin: 0 11px 14px 135px;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredContent {
    text-align: center;
}

.videoContainer .cyanBar {
    width: 600px;
    height: 154px;
    background: var(--videoBar-color);
    margin: 51px 0 54px 0;
}

.videoContainer img {
    margin: -51px 0 -54px 0;
}

.footer {
    background: var(--footer-color);
    width: 600px;
    height: 54px;
    margin-top: 44px;
    padding: 15px 0 0 16px;
    display: flex;
}

#footerContactText {
    width: 100px;
    height: 54px;
    margin: 0 19px 8px 0;
}

#footerNewsText {
    height: 54px;
    margin: 0 19px 8px 0;
}

.footer img {
    width: 53px;
    height: 53px;
    /* I had to improvise the usa of margin here
    to make the logo look good on the footer. */
    margin: -6px 17px 12px 27px;
}